html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.woodBackground {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.explanation {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    text-align: center;
    color: #000;
    z-index: 3;
}

.mainExplanation {
    font-size: 1.5em;
    font-weight: 1000;
}

.subExplanation {
    margin-top: -15px;
    font-size: 0.9em;
    font-weight: 700;
}

/* 아이템 구역 */
.itemSelect {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.itemDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDiv img {
    transition: transform 0.4s ease-in-out; /* Add transition for smooth scaling */
}

/* 아이템 css */
.itemUmbrella {
    margin-left: 60px;
    height: 220px;
    width: auto;
    transform: rotate(-30deg); 
}

.itemLighter {
    margin-bottom: 40px;
    height: 170px;
    width: auto;
    transform: rotate(10deg); 
}

.itemWater {
    height: 220px;
    width: auto;
    transform: rotate(15deg); 
}

.itemHandkerchief {
    margin-bottom: 50px;
    margin-left: 30px;
    height: 170px;
    width: auto;
}

.itemEarphone {
    margin-top: 30px;
    margin-right: 40px;
    height: 150px;
    width: auto;
    transform: rotate(-30deg); 
}

.itemLoop {
    margin-top: 30px;
    margin-right: 70px;
    height: 170px;
    width: auto;
}