/* 인트로 집 안 장면, 티비 장면 */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.outsideHouse {
    position: absolute; 
    bottom : 0;
    left: 50%;
    transform: translateX(-50%) translateY(0); /*이미지 원래 위치 조정*/
    transition: opacity 1s ease, transform 4.6s ease; /* 애니메이션 시간 */
}

.outsideHouse.show {
    opacity: 1; /* 이미지 표시 */
    transform: translateX(-50%) translateY(17%) scale(1.1); /* 애니메이션 적용 */
}

.dialogue {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
    width: 50%;
    padding: 15px 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    color: #000;
    font-weight: 1000;
}