body {
    margin: 0;
    overflow: hidden;
}

#black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; 
    opacity: 1; 
    transition: opacity 1s ease; 
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: Arial, sans-serif;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Behind the black screen */
}
